     
      body{
        background:rgb(106, 107, 106);
        color:rgb(3, 147, 173);
        }

    h1{     
      color: rgb(3, 147, 173);
      }

    a{
        font-size: 22px;
    }
    .vermelho{
        background: red;
    }
    .azul{
        background: blue;
    }
    hr{
        height: 10px;
    }
        
    